* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  list-style-type: none;
  color: #2a435d !important;
}

.text-theme {
  color: #2a435d !important;
}

body {
  color: #2a435d !important;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.bg-theme {
  background-color: #F38028 !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-rad{
  border-radius: 20% 1%;
}
.banner-heading{
  font-size: 100px !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 2px solid rgb(234, 234, 19);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  height: 50px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn-custom {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: rgb(186, 181, 123);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-custom:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.devider{
  align-items: center !important;
}
.devider::before{
  display: inline-flex;
  width: 80px;
  height: 1px;
  content: "";
  background: #dcdcdc;
}
.devider::after {
  display: inline-flex;
  width: 80px;
  height: 1px;
  content: "";
  background: #dcdcdc;
}

/* .bg-theme{
  background-image: url('../src/Auth/image/109610757.webp');
  background-size: contain;
  background-position: center;
} */
.intro-box{
  background-color: rgba(255,255,255,.9);
  max-width: 750px;
}

/* .error-bg{
  background-image: url('../src/Auth/image/404-error-template-3.avif');
  background-size: contain;
  background-position: center;
} */
.btn-warn{
  background-color: #F38028;
}

.quantity-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; 
  height: 40px;
  margin: 0 auto;    
}

.value-button{ 
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;   
  padding: 0;
  background: #eee; 
  outline: none;
  cursor: pointer;
}

.quantity-field .number{
  display: inline-block;
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;
  line-height: 40px;
  font-size: 11pt;
  box-sizing: border-box; 
  background: white;
  font-family: calibri;
}
